#p1{
    font-family: 'Cinzel', cursive;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
}
#p2{
    font-family: 'Handjet', serif;
    font-style: oblique;
    font-size: 20px;
    font-variant: small-caps; 
}
.fa-linkedin{
    font-size: 50px;
    color: royalblue
}
.fa-github{
    font-size: 50px;
    color: black;
}
.fa-code{
   font-size: 50px;
    color: aqua; 
}